html, body {
    background: #fff url(/assets/images/bg.png) center top no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 100%;
    width: 760px;
    margin: 0 auto;
}

.main {
    max-width: 100%;
    width: 940px;
    float: left;
}

.header {
    margin-top: 150px;
    margin-bottom: 10px;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    margin: 0 0 5px 0;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;

}
.form_area {
    width: 470px;
    padding-top: 35px;
    margin: 0 auto;
}

.form {
    position: relative;
    width: 468px;
    margin-top: 20px;
}

.field {
    width: 438px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: black;
    padding: 15px;
    margin-bottom: 15px;
    outline: none;
}

.field:focus {
    border: 1px solid #ffffff;
    padding: 14px;
}

.submit {
    background: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 13px;
    padding: 3px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.submit:hover {
    background: #dddddd;
}
